.bigChartBox {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bigChartBox .chart {
  width: 98%;
  height: 400px;
}
.profit {
  width: 40px;
  height: 20px;
  margin-right: 5px;
  background-color: #9b7c82;
}
.turnover {
  background-color: #f9ab6d;
  width: 40px;
  height: 20px;
  margin-right: 5px;
}
