.header {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 30%;
}

.menu {
  margin-bottom: 0;
}

.nav__item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.nav__item a:hover {
  color: inherit;
}

.nav__item a.active__link {
  color: var(--secondary-color);
}

.mobile__menu {
  font-size: 1.3rem;
  color: var(--heading-color);
  display: none;
}

.sticky__header {
  width: 100%;
  height: 100%;
  line-height: 80px;
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 8px 8px -3px #ddd;
  z-index: 900;
}
.btn {
  transition: transform 0.3s;
}
.btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.userwraper {
  display: flex;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  text-transform: none;
  cursor: pointer;
  align-items: center;
}
.userwraper::after {
  content: "";
  top: 20px;
  width: 140px;
  height: 40px;
  position: absolute;
}
.userwraper:hover .DropDownContent {
  display: block;
}
.user-avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.DropDownContent {
  display: none;
  color: black;
  position: absolute;
  left: 3px;
  top: 40px;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 3px;
  border: #ccc 0.5px solid;
}
.link1 {
  color: currentColor;
  text-decoration: none;
  background-color: transparent;
  text-transform: none;
}
.DropDownContent::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #e5e1e1;
  top: -20px;
  right: 20px;
}
.DropDownContent:hover::after {
  border-bottom: 10px solid #e5e1e1;
}
.SubA {
  padding: 7px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: 14px;
}
.SubA:hover {
  background-color: var(--secondary-color);
  color: #fff !important;
}
.seperate {
  border-top: #ccc 1px solid;
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 992px) {
  .logo img {
    width: 30%;
  }

  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 75%);
    height: 100%;
    background: #fff;
    flex-direction: column;
    line-height: 0.5rem;
    justify-content: center;
    z-index: 9999;
  }

  .show__menu {
    display: block;
  }

  .mobile__menu {
    display: block;
  }
}

/* =============== RESPONSIVE ================ */
@media only screen and (max-width: 768px) {
  .logo img {
    width: 35%;
  }

  .menu {
    width: calc(100% - 50%);
  }
}
