.info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.info a {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  color: black;
}
.row-1 {
  margin-right: 0 !important;
}
.border-top {
  border-top: 1px solid gainsboro;
}
.select-location select {
  padding: 2px;
}
.select-custom {
  font-weight: 600;
  border: none !important;
  appearance: none;
  cursor: pointer;
}
.select-custom:focus {
  border-color: var(--secondary--color); /* Màu sắc khi focus */
  outline: none; /* Loại bỏ đường viền mặc định */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Hiệu ứng bóng khi focus */
}
.selectSearch {
  font-size: 1.1rem;
}
.image-list {
  background: #fff;
  padding: 10px 5px;
  color: black;
  border-radius: 6px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-list > div {
  box-sizing: border-box;
  width: calc(
    33.3333% - 16px
  ); /* Đặt độ rộng của mỗi ô (1/3) và trừ đi khoảng cách giữa chúng */
  margin: 10px 0 16px 0; /* Đặt khoảng cách giữa các hàng */
}
.img-account-profile {
  max-width: 100%; /* Ảnh sẽ không vượt quá kích thước của ô */
  height: auto; /* Duy trì tỷ lệ khung hình khi thay đổi kích thước */
}
.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal2 {
  background: white;
  padding: 10px;
  border-radius: 8px;
  display: block;
  color: black;
}
.wrap-modal-addtour {
  position: relative;
  margin-left: 12px;
}
.close-btn2 {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  border: 1px solid #5b5b5b;
}
.close-btn2:hover {
  background: rgb(244, 47, 47) !important;
}
body.modal-open {
  overflow: hidden;
}
.w-27 {
  width: 27.333333% !important;
}

.checkbox-tour {
  width: 20px;
  height: 20px;
  display: block;
}
.schedule form {
  max-width: 600px;
  margin: 0 auto;
}

.schedule label {
  display: block;
  margin-bottom: 5px;
}

.schedule textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.schedule input[type="file"] {
  margin-bottom: 10px;
}

.schedule img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.w99 {
  width: 98.8% !important;
}
.w-15 {
  width: 15% !important;
}
.h200 {
  height: 200px !important;
}
.h-150 {
  height: 150px !important;
}
.img-radius-0375 {
  border-radius: 0.375rem !important;
}
.modal3 {
  max-height: 90vh; /* Thiết lập chiều cao tối đa là 90% chiều cao của viewport */
  overflow-y: auto; /* Cho phép thanh cuộn dọc khi nội dung vượt quá kích thước modal */
  background-color: #fff;
  padding: 10px 0 10px 20px;
  border-radius: 2px;
}
