.products .info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.products .info a {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  color: black;
}
/* Add this CSS to your existing styles */
.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider2 {
  background-color: #2196f3;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider2:before {
  transform: translateX(20px);
}
