.dataTable .dataGrid {
  background: white;
  padding: 20px;
}
.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}
.dataTable .dataGrid img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.dataTable .dataGrid .action {
  display: flex;
  gap: 15px;
}
.dataTable .dataGrid .action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.MuiDataGrid-columnHeader,
.MuiDataGrid-cell {
  padding: 0px !important;
  margin: 0px !important;
}
.css-kzyyzb-MuiDataGrid-root .MuiDataGrid-columnHeader {
  padding: 0 !important;
}
.css-kzyyzb-MuiDataGrid-root {
  font-family: Quicksand, sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}
.css-pdct74-MuiTablePagination-selectLabel,
.css-levciy-MuiTablePagination-displayedRows {
  font-family: Quicksand, sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  margin-bottom: 0px !important;
}
.css-kzyyzb-MuiDataGrid-root .MuiDataGrid-columnHeaderDraggableContainer {
  margin: 0 10px;
}
.MuiDataGrid-cell,
.MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center !important;
}
.MuiDataGrid-cell:nth-child(3) {
  justify-content: start !important;
}
